
.Contaner{
    width: 800px;
    margin: 0 auto;
}



.ImageHero{
    background-image: url('../../image/image new/New folder/compressor/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    max-width: 100%;

}

.ImageHero h1{
 text-align: center;
 color: #524e4e;
 font-size: 20px;
 font-weight: bold;
 z-index: 102;
 padding-top: 5rem;
}
.StlyeAll p{
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  width: 80%;
}
@media screen and (max-width: 1020px) {
  .Contaner{
    width: 100%;
    margin: 0 auto;
}


   .StlyeAll p{
    margin: 0 auto;
  }
    
   }

