.Contaner{
    width: 1300px;
    margin: 0 auto;
}

.StyleNav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 101;
}

.ImageHero{
    background-image: url('../../image/image new/New folder/compressor/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    width: 100%;
   z-index: 100;
    /* margin:0 auto; */
    position: relative;
}

.ImageHero h1{
 position: absolute;
 top: 50%;
 left: 44%;  
 color: #fff;
 font-size: 20px;
 font-weight: bold;
}

@media screen and (max-width: 1020px) {
    .StyleNav{
        position: relative;
        width: 100%;
        background-color: #fff;
        z-index: 101;
    }
    .footer{
        margin-bottom: 0;
    }
    
   }