.StyleContauner{
    overflow-x: hidden;
    max-width: 1400px;
    margin: 0 auto;
}

.stylePhone{
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 0px;
 
}
.stylePhone h4{
    font-size: 17px;
    font-weight: bold;
  
}

@media screen and (max-width: 1020px) {
    .stylePhone{
        position: fixed;
        z-index: 200;
        top: 50%;
        left: 0px;
     
    }
      
}
  
  