.Container{
    max-width: 1200px;
    margin: 0 auto;
    /* color: #7b7777; */
}


@media screen and (max-width: 1020px) {

    .styleRow{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
 
 }
