.Countainer{
    max-width: 1300px;
    height: 20rem;
    margin: 80px auto;
   
}

.styleRes{
    background-image: url('../../image/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 15rem;
    position: relative;
}

.StyleParag{
    position: relative;
}
.StyleParag span{
    position: absolute;
    top: -1rem;
    left: 13rem;
}
@media screen and (max-width: 1020px) {
  
 
    .styleImg{
        width: 50% !important;
        margin: 0 auto;
    }
     .styleRes{
      position: relative;
      margin:0px auto ;
      margin-bottom: 20px;
      text-align: center;
    }

    .StyleParag{
        text-align: center;
        
    }
    .StyleParag p{
        text-align: justify;
        font-size: 14px;
    }

    .StyleParag span{
      display: none;
    }

    .styleModern{
        position: absolute !important;
        top: 45% !important;
        right: 1rem !important;
        font-size:30px !important ;
    }

 }

