.Containers{
    max-width: 900px;
    margin: 0 auto;
}

.styleLine::before{
  content: "";
  border-right: 2px solid red;
  width: 50rem;
}

@media screen and (max-width: 1020px) {
  .StyleHeader{
    display: flex;
    margin: 0 auto;
  }
  .styleDivImg{
    width: 100%;
  }
  .styleImag{
    width: 100% !important;
  }
 }

