.StyleBg{
    background-image: url('../../image/imageHero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-width:1300px;
    height: 36rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 1020px) {
   .StyleBg{
    display: flex;
    width: 100%;
   }
   .styleText{
        text-align: center;
        margin: 0 auto;
   }
 }
