.StyleBg{
    background-image: url('../../image/3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-width:1300px;
    height: 45rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}


@media screen and (max-width: 1020px) {

   .StyleBg{
    display: flex;
    width: 100%;
   }
   .styleText{
        text-align: center;
        margin: 0 auto;
      
   }
   .styleText h1{
    color: #000;
   }
   .styleText p{
    color: #000;
   }
 .styleLogo{
  margin-right: 13px;
 }
 .styleEmPh{
  position: absolute;
  bottom: 2rem !important;
  left: 2rem !important;
 }
 }
